<label for="genero">Gênero</label>
<br />
@if (Paciente != null)
{
    <MudRadioGroup @bind-Value="Paciente.Genero">
        <GeneroRadioComponent />
    </MudRadioGroup>
}
else
{
    <MudRadioGroup @bind-Value="Responsavel.Genero">
        <GeneroRadioComponent />
    </MudRadioGroup>
}

@code {
    [Parameter]
    public PacienteModel Paciente { get; set; }

    [Parameter]
    public ResponsavelModel Responsavel { get; set; }
}