@page "/grausparentesco"
@inject IGrauParentescoService GrauParentescoService
@inject NavigationManager NavigationManager

<PageTitle>Graus de Parentesco</PageTitle>

<MudText Typo="Typo.h5">Graus de Parentesco</MudText>
<br />

@if (GrauParentescoService.GrausParentesco == null)
{
	<MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else if (GrauParentescoService.GrausParentesco.Count == 0)
{
	<p><em>Nenhum grau de parentesco cadastrado.</em></p>
}
else
{
	<MudTable Items="GrauParentescoService.GrausParentesco" Dense="true" Hover="true" FixedHeader="true" Height="250px">
		<HeaderContent>
			<MudTh>Descrição</MudTh>
			<MudTh></MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Descrição">@context.Descricao</MudTd>
			<MudTd DataLabel="Editar">
				<MudIconButton Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" Icon="@Icons.Material.Rounded.Edit" Title="Editar" OnClick="(() => EditarGrauParentesco(context.Id))" />
			</MudTd>
		</RowTemplate>
	</MudTable>
	<br />
	<MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.AddCircle" Color="Color.Primary" @onclick="AddGrauParentesco">Adicionar</MudButton>
}
