@page "/grausparentesco"
@inject IGrauParentescoService GrauParentescoService
@inject NavigationManager NavigationManager

<PageTitle>Graus de Parentesco</PageTitle>

<MudText Typo="Typo.h5">Graus de Parentesco</MudText>
<br />

@if (GrauParentescoService.GrausParentesco == null)
{
	<MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else if (GrauParentescoService.GrausParentesco.Count == 0)
{
	<p><em>Nenhum grau de parentesco cadastrado.</em></p>
}
else
{
	<MudSimpleTable Dense="true" Hover="true" FixedHeader="true" Style="height:260px;">
		<thead>
			<tr>
				<th>Descrição</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var grauParentesco in GrauParentescoService.GrausParentesco)
			{
				<tr>
					<td>@grauParentesco.Descricao</td>
					<td>
						<MudButton Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" @onclick="(() => EditarGrauParentesco(grauParentesco.Id))">
							<MudIcon Icon="@Icons.Material.Rounded.Edit" Title="Editar" />
						</MudButton>
					</td>
				</tr>
			}
		</tbody>
	</MudSimpleTable>
	<br />
	<MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.AddCircle" Color="Color.Primary" @onclick="AddGrauParentesco">Adicionar</MudButton>
}

@code {
	protected override async Task OnInitializedAsync()
	{
		await GrauParentescoService.GetAllGrausParentescoAsync();
	}

	void EditarGrauParentesco(int id)
	{
		NavigationManager.NavigateTo($"grauparentesco/{id}");
	}

	void AddGrauParentesco()
	{
		NavigationManager.NavigateTo("grauparentesco");
	}
}
