<label for="genero">Gênero</label>
<br />
@if (Paciente != null)
{
	<MudRadioGroup @bind-SelectedOption="Paciente.Genero">
		<GeneroRadioComponent />
	</MudRadioGroup>
}
else
{
	<MudRadioGroup @bind-SelectedOption="Responsavel.Genero">
		<GeneroRadioComponent />
	</MudRadioGroup>
}
